{#
/**
 * @file
 * Drulma theme implementation to display a single page.
 */
#}

{{ page.primary_menu }}

<header{{ header_attributtes }}>
  <div class="hero-head">
    {{ page.header }}
  </div>
  {% if page.title %}
  <div class="hero-body">
    {{ page.title }}
  </div>
  {% endif %}
  <div class="hero-foot">
    {{ page.secondary_menu }}
  </div>
</header>

<main role="main">
  <a id="main-content" tabindex="-1"></a>{# link is in html.html.twig #}
  {{ page.breadcrumb }}

  {{ page.highlighted }}

  {{ page.help }}

  {% if wrap_content_in_container %}
  <div class="container">
  {% endif %}
    <div class="columns">
      <div class="column">
      {{ page.content }}
      </div>

      {% if page.sidebar_first %}
        <aside class="column is-narrow" role="complementary">
          {{ page.sidebar_first }}
        </aside>
      {% endif %}

      {% if page.sidebar_second %}
        <aside class="column is-narrow" role="complementary">
          {{ page.sidebar_second }}
        </aside>
      {% endif %}
    </div>
  {% if wrap_content_in_container %}
  </div>
  {% endif %}
</main>

<footer class="footer" role="contentinfo">
  <div class="container">
    <div class="block m-3">
      <div class="content has-text-centered">
        <a href="https://www.facebook.com/SASbasket/?ref=br_rs">
          <span class="icon is-large has-text-info">
            <i class="fab fa-facebook fa-4x"></i>
          </span>
        </a>
        <a href="mailto:basket.saint-avertin-sports.fr">
          <span class="icon is-large has-text-info">
            <i class="fas fa-envelope fa-4x"></i>
          </span>
        </a>
        <a href="http://www.sasbasket.fr/">
          <span class="icon is-large has-text-info">
            <i class="fas fa-basketball-ball fa-4x"></i>
          </span>
        </a>
      </div>
    </div>
    <div class="content has-text-centered">
      <p>
        <strong>Saint-Avertin Sport - Basket</strong> - {{ "now"|date("Y") }}.
      </p>
    </div>
  </div>
</footer>
